<!--TODO disable nav if user is not logged in -->
<div class="header">
  <div class="title">Pokemon Trainer</div>
  <hr />
  <a class="button home" routerLink="" routerLinkActive="active">Home</a>
  <div *ngIf="isLoggedIn$ | async" id="logged-nav">
    <a class="button" routerLink="/pokemons" routerLinkActive="active"
      >Pokemons</a
    >
    <a class="button" routerLink="/trainer" routerLinkActive="active"
      >Trainer</a
    >
  </div>

  <div *ngIf="isLoggedIn$ | async" class="username-container">
    <a class="button" herf="#" (click)="logout()">log out</a>
    <div class="username">{{ username$ | async }}</div>
  </div>

  <div *ngIf="!(isLoggedIn$ | async)" id="login-container">
    <a class="button" routerLink="/login" routerLinkActive="active">login</a>
  </div>
</div>
