.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Press Start 2P", cursive;
  color: white;
  text-align: center;
  box-shadow: 0px 1px 10px #888888;
}

.title {
  padding: 20px;
}

hr {
  margin-top: 10px;
}
.home {
  margin-left: 10px;
  color: white;
}
#logged-nav,
#login-container {
  display: flex;
  border-radius: 5px;
  flex-direction: row;
  flex: 1;
}
.button {
  text-decoration: none;
  padding: 20px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.button:hover {
  background-color: lightgray;
  color: black;
}
.username-container {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.username {
  background-color: silver;
  padding: 8px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
}
