.container {
  background-color: gray;
  color: white;
  margin: 20%;
  text-align: center;
  border-radius: 5px;
  padding: 30px;
  font-family: "Press Start 2P", cursive;
  box-shadow: 0 1px 10px #888888;
}
