@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:host {
  font-family: "Roboto Mono", monospace;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
  margin: 1em;
}

img {
  width: 80%;
}

.card-image-container {
  max-width: 80%;
  text-align: center;
  padding: 1em 1em 0;
  border-radius: 3px 3px 0 0;
}

.card-image-container:hover {
  cursor: pointer;
}

.card-name {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.card-name:hover {
  cursor: pointer;
}

.card-stats {
  margin: 1em;
  width: 100%;
}

.card-stats th {
  text-align: right;
  font-weight: 300;
}

th,
td {
  width: 50%;
  padding: 0.25em 0.5em 0;
}

button {
  border: none;
  color: white;
  padding: 14px 28px;
  border-radius: 5%;
  cursor: pointer;
  background-color: #4caf50;
  font-family: "Roboto Mono", monospace;
}
.card-moves {
  background-color: navajowhite;
  border-radius: 1em;
  padding: 2px 6px;
  margin: 5px;
  text-align: center;
}
.card-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
