<div class="card card-normal">
  <div class="card-image-container">
    <img
      [src]="pokemon.image"
      alt="pokemon image"
      class="card-image"
      (click)="navigateToPokemonDetails()"
    />
  </div>

  <div class="card-content">
    <h1 class="card-name" (click)="navigateToPokemonDetails()">
      {{ pokemon.name | titlecase }}
    </h1>

    <ng-container *ngIf="showDetails">
      <table class="card-stats">
        <tbody>
          <tr>
            <th>XP</th>
            <td>{{ pokemon.xp }}</td>
          </tr>
          <tr>
            <th>HP</th>
            <td>{{ pokemon.hp }}</td>
          </tr>
          <tr>
            <th>Attack</th>
            <td>{{ pokemon.attack }}</td>
          </tr>

          <tr>
            <th>Defense</th>
            <td>{{ pokemon.defense }}</td>
          </tr>

          <tr>
            <th>Special Attack</th>
            <td>{{ pokemon.specialAttack }}</td>
          </tr>
          <tr>
            <th>Special Defense</th>
            <td>{{ pokemon.specialDefense }}</td>
          </tr>
          <tr>
            <th>Speed</th>
            <td>{{ pokemon.speed }}</td>
          </tr>
          <tr>
            <th>Height</th>
            <td>{{ pokemon.height }}</td>
          </tr>
          <tr>
            <th>Weight</th>
            <td>{{ pokemon.weight }}</td>
          </tr>
        </tbody>
      </table>

      <div><br />Types:</div>
      <div class="card-content-wrapper">
        <ng-container *ngFor="let type of pokemon.types">
          <div class="card-moves">{{ type }}</div>
        </ng-container>
      </div>

      <div><br />Moves:</div>
      <div class="card-content-wrapper">
        <ng-container *ngFor="let move of pokemon.moves">
          <div class="card-moves">{{ move }}</div>
        </ng-container>
      </div>

      <div><br />Abilities:</div>
      <div class="card-content-wrapper">
        <ng-container *ngFor="let ability of pokemon.abilities">
          <div class="card-moves">{{ ability }}</div>
        </ng-container>
      </div>

      <div class="button">
        <br />
        <button (click)="onCollectClick()">Collect</button>
      </div>
    </ng-container>
  </div>
</div>
