.container {
  background-color: black;
  color: white;
  margin: 10% 30% 10%;
  text-align: center;
  border-radius: 5px;
  padding: 30px;
  font-family: "Press Start 2P", cursive;
  box-shadow: 0px 4px 10px #888888;
}

.title {
  font-size: 30px;
  padding-bottom: 50px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Press Start 2P", cursive;
}

input {
  min-width: 0;
  padding: 20px;
  font-size: 14px;
  flex: 1;
  border-style: none;
  outline: none;
  font-family: "Press Start 2P", cursive;
}

.button {
  color: white;
  padding: 15px;
  font-size: 30px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  border-style: none;
  background-color: darkseagreen;
}

.button:disabled {
  background-color: orangered;
}
