<div class="container">
  <div class="title">Login</div>
  <div class="input-container">
    <input
      id="input"
      type="text"
      [(ngModel)]="name"
      (ngModelChange)="onNameChange(name)"
      placeholder="Enter your trainer name.."
    />
    <button
      class="button"
      (click)="onLoginClick()"
      [disabled]="clickable$ | async"
    >
      <fa-icon [icon]="faSignInAlt"></fa-icon>
    </button>
  </div>
</div>
