:host {
  font-family: "Roboto Mono", monospace;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3em;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}
