<app-catalogue [pokemons]="pokemons"></app-catalogue>
<div class="buttons-wrapper">
  <button (click)="showPrevious()">
    <fa-icon [icon]="backward"></fa-icon>
  </button>
  <button (click)="showNext()">
    <fa-icon [icon]="forward"></fa-icon>
  </button>
</div>
