@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body,
html,
app-root {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

app-login-home,
app-pokemons-home,
app-trainer-home,
app-home,
app-not-found,
app-pokemons-home,
app-pokemon-details-home {
  flex: 1;
}
